<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         convertDeprecationsToExceptions="true"
  >
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./tests/includes</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="integration">
      <directory suffix=".php">tests/Integration</directory>
    </testsuite>
    <testsuite name="functional">
      <directory suffix=".php">tests/Functional</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="tests/build/logs/junit.xml"/>
  </logging>
</phpunit>
